include .github/CODE_OF_CONDUCT.rst
include .github/CONTRIBUTING.rst
include .github/ISSUE_TEMPLATE.rst
include .editorconfig
include .travis.yml
include COPYING
include NEWS.rst
include README.rst
include ruff.toml

recursive-include doc *.rst
include doc/conf.py

include extra/README.pip
include extra/_pyisbn
include extra/doap.rdf
include extra/requirements-*.txt
include extra/tool.py

include tests/books.json
recursive-include tests *.py
