include .github/CODE_OF_CONDUCT.rst
include .editorconfig
include .travis.yml
include CONTRIBUTING.rst
include COPYING
include NEWS.rst
include README.rst
include nose2.cfg

recursive-include doc *.rst
include doc/conf.py
include doc/wordlist.txt

include extra/README.pip
include extra/_pyisbn
include extra/doap.rdf
include extra/requirements-*.txt
include extra/tool.py

recursive-include tests *.py
