name: Test with ruff

on:
  push:
    paths:
      - .github/workflows/ruff.yml
      - doc/conf.py
      - src/*/*.py
      - tests/*.py
      - pyproject.toml

permissions: {}

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          src: >-
            doc/conf.py
            src/pyisbn/
            tests/
