name: Check spelling with Sphinx

on:
  push:
    paths:
      - .github/workflows/spelling.yml
      - doc/*.rst
      - src/*/*.py
      - pyproject.toml

permissions: read-all

jobs:
  sphinx:
    name: Run Sphinx spelling build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          activate-environment: true
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version-file: "pyproject.toml"

      - name: Install dependencies
        run: |
          # We don't need man-db updates for throwaway installs
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          # We're not using postgresql, so we don't need to run triggers pulled
          # in by unused dependencies
          sudo sed -i '2iexit(0);' /usr/sbin/pg_updatedicts
          sudo eatmydata apt-get install enchant-2 hunspell-en-gb
          uv sync --group doc

      - name: Run Sphinx spelling build
        # Use --quiet as in this job we only need spelling results, not generic
        # Sphinx output that would be seen in HTML jobs.
        run: sphinx-build --quiet -b spelling . _build/spelling
        working-directory: ./doc
